<!--The content below is only a placeholder and can be replaced.-->
<div id="page-content" style="text-align:center">
  <h1 style="padding-top: 1em;">
    🎉 Benvenuto su {{ title }} ! 🎉
  </h1>
  <div style="padding-top: 1em;">
    <img src="./../../../../../assets/img/acme-eat-logo.png" alt="logoAcmeEat" style="width: 200px;">
  </div>
  <div>
    <h4 style="padding-top: 1em;">
      Entra nel portale!
    </h4>
    <div style="padding-top: 2em;">
      <p-button (click)="goToLogin()" icon="pi pi-sign-in" label="Entra" iconPos="right"></p-button>
    </div>
  </div>
</div>
