.p-card {
    color: #34373b !important;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 1px rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
}

.backgroundImage {
    background-image: url('./../../../../../assets/img/background.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 61em
}