<!--The content below is only a placeholder and can be replaced.-->
<div id="page-content" style="text-align:center">
  <h1 style="padding-top: 1em;">
    🎉 Benvenuto su {{ title }} ! 🎉
  </h1>
  <div style="padding-top: 1em;">
    <img src="./../../../../../assets/img/acme-eat-logo.png" alt="logoAcmeEat" style="width: 200px;">
  </div>
  <div>
    <h4 style="padding-top: 1em;">
      Effettua la Login!
    </h4>
    <div style="padding-top: 2em;">
      <button (click)="goToLogin()" type="button" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
